<h1>Haikus#new</h1>
<p>Find me in app/views/haikus/new.html.erb</p>
<%= form_with model:@haiku,local:true do |form| %>
  <div>
    <%= form.label :haiku1 %>
  <%= form.text_field :haiku1 %>
  </div>
  <div>
    <%= form.label :haiku2 %>
  <%= form.text_field :haiku2 %>
  </div>
  <div>
    <%= form.label :haiku3 %>
  <%= form.text_field :haiku3 %>
  </div>
  <%= form.hidden_field :user_id,value:session[:user_id] %>
  <%= form.submit :送信%>
<% end %>
