<h1>Comments#new</h1>
<p>Find me in app/views/haikus/new.html.erb</p>
<%= form_with model:@comment,local:true do |form| %>
  <div>
    <%= form.label :comment1 %>
  <%= form.text_field :comment1 %>
  </div>
  <div>
    <%= form.label :comment2 %>
  <%= form.text_field :comment2 %>
  </div>
  <div>
    <%= form.label :comment3 %>
  <%= form.text_field :comment3 %>
  </div>
  <%= form.hidden_field :user_id,value:session[:user_id] %>
  <%= form.hidden_field :haiku_id,value:params[:haiku_id] %>
  <div>
    <%= form.submit :送信%>
  </div>
<% end %>
