<!DOCTYPE html>
<html>
  <head>
    <meta name="viweport" content="width=device-width,initial-scale=1">
    <title>Haiku57Go1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.6.1/css/all.css" %>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Potta+One&display=swap"%>
  </head>
  <body>
  <% flash.each do |key, value|  %>
    <div class="alert alert-<%= key %> position-absolute top-0 w-100">
      <p><%= value %></p>
    </div>
  <% end %>
  <header>
  <div class="logo">
    <%= link_to(root_path) do%>
      <%= image_tag 'logo.png' %>
    <% end %>
  </div>
  <div class="search">
    <%= form_with url:haikus_search_path,method: :get,local: :true,class: ('form-inline') do |haiku| %>
      <%= haiku.text_field :haiku,class: ('form-control') %>
      <%= haiku.submit :search ,class: ('btn btn-primary')%>
    <% end %>
  </div>
  <div class="btns">
    <% if carrent_user != nil %>
      <%= link_to "一覧",pages_path %>
      <%= link_to(logout_path,method: :delete,class: :logout_btn) do %>
            <i class="fas fa-sign-in-alt"></i>
            <span>ログアウト</span>
      <% end %>
      <%= link_to "新規俳句",new_haiku_path,class: :haiku_btn %>
      <%= link_to (user_url(carrent_user.id) ) do %>
          <i class="far fa-user"></i>
          <span><%= carrent_user.name %></span>
      <% end %>
    <% else %>
      <%= link_to(new_user_path) do %>
        <i class="far fa-user"></i>
        <span>新規登録</span>
      <% end %>
      <%= link_to(sessions_new_path) do %>
        <i class="fas fa-sign-in-alt"></i>
        <span>ログイン</span>
      <% end %>
    <% end %>
  </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
  </body>
  <%= params[:vali_error] %>

</html>
