<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Haiku57Go1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%# <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.6.1/css/all.css" %>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Potta+One&display=swap"%>
  </head>
  <body>
  <% flash.each do |key, value|  %>
    <div class="alert alert-<%= key %> position-absolute top-0 w-100">
      <p><%= value %></p>
    </div>
  <% end %>
  <nav class="navbar navbar-expand-md bg-success">
    <%= link_to '俳句57Go',root_path,class:'navbar-brand'%>
    <span class="nav-item">
      <%= link_to "一覧",pages_path,class:'nav-link' %>
    </span>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav mr-auto">
        <% if carrent_user != nil %>
          <span class="nav-item">
            <%= link_to(user_url(carrent_user.id),class:'nav-link') do %>
              <i class="far fa-user"></i>
              <span><%= carrent_user.name %></span>
            <% end %>
          </span>
          <span class="nav-item">
            <%= link_to "新規俳句",new_haiku_path,class:'nav-link' %>
          </span>
          <span class="nav-item">
            <%= link_to(logout_path,method: :delete,class:('nav-link logout_btn')) do %>
              <i class="fas fa-sign-in-alt"></i>
              <span>ログアウト</span>
            <% end %>
          </span>
        <% else %>
          <span class="nav-item">
           <%= link_to(new_user_path,class:'nav-link') do %>
              <i class="far fa-user"></i>
              <span>新規登録</span>
            <% end %>
          </span>
          <span class="nav-item">
            <%= link_to(sessions_new_path,class:'nav-link') do %>
              <i class="fas fa-sign-in-alt"></i>
              <span>ログイン</span>
            <% end %>
          </span>
        <%end%>
      </div>
      <%= form_with url:haikus_search_path,method: :get,local: :true,class:'form-inline' do |haiku| %>
      <div class="col-xs-4">
        <%= haiku.text_field :haiku,class:'form-control mr-2' %>
      </div>
        <%= haiku.submit :search ,class:'btn btn-primary' %>
      <% end %>
    </div>
  </nav>
  <main class="container-sm">
    <%= yield %>
  </main>
  </body>
  <%= params[:vali_error] %>

</html>
